[submodule "apps/ai_service/weights/diabetic-retinopathy-224-procnorm-vit"]
	path = apps/ai_service/weights/diabetic-retinopathy-224-procnorm-vit
	url = https://huggingface.co/rafalosa/diabetic-retinopathy-224-procnorm-vit
